node_modules
models
system.json
logs
storage
dist
.env
chromadb
*.old
session.json
*.bak
*.db
*.env*
/src/assets/okuu_pfp.*
assistant.json
settings.json

# Ignore whisper.cpp cloned repo
whisper_cpp/
# Ignore models downloaded
whisper_cpp/models/