:root {
    --color-primary: rgba(0, 50, 7, 1);
    --color-primary-darker: color-mix(in srgb,var(--color-primary),#000 40%);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
